<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Education</title>
</head>
<body>
<form action="#"
      th:action="@{/processedu}"
      th:object="${education}"
      method="post">
     <input type="hidden" th:field="*{id}" />


     <h1>Education: </h1><br />
     &ensp;Degree&nbsp;<input type="text" th:field="*{degree}" />
     <span th:if="${#fields.hasErrors('degree')}"
          th:errors="*{degree}"></span><br />

     &ensp;Major&nbsp;<input type="text" th:field="*{major}" />
    <span th:if="${#fields.hasErrors('major')}"
          th:errors="*{major}"></span><br />

    &ensp;School&nbsp;<input type="text" th:field="*{school}" />
    <span th:if="${#fields.hasErrors('school')}"
          th:errors="*{school}"></span><br />
    &ensp;Year&nbsp;<input type="text" th:field="*{year}" />
    <span th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}"></span><br />
    <br />


    <br />
    <input type="submit" value="Submit" />

</form>
</body>
</html>