<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Resume</a><br />
<a href="/addedu">Add Education</a><br />
<a href="/addexp">Add Experience</a><br />
<a href="/addskills">Add Skills</a><br />
<table>
 <h1> Resume </h1>
<tr>
    <td th:each="resume : ${resumes}">
        <span th:text="${resume.name}"></span><br />
        <span th:text="${resume.email}"></span><br />
    </td>

    Education <br />
     <td th:each="education : ${educations}">
        <span th:text="${education.major}"></span><br />
        <span th:text="${education.degree}"></span><br />
        <span th:text="${education.year}"></span><br />
        <span th:text="${education.school}"></span><br />
     </td>
     <tr>

    Experience <br />
     <td th:each ="experience : ${experiences}">
        <span th:text="${experience.jobTitle}"></span><br />
        <span th:text="${experience.company}"></span><br />
        <span th:text="${experience.serviceYear}"></span><br />
        <span th:text="${experience.duties}"></span><br />
     </td>
    </tr>

    <br />
    Skills <br />
     <td th:each="skill : ${skills}">
        <span th:text="${skill.skill}"></span><br />
        <span th:text="${skill.rating}"></span><br />
     </td>

</tr>
</table>
</body>
</html>