<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Resume</a><br />
<table>
    <tr th:each="resume : ${resumes}">
        <span th:text="${resume.name}"></span><br />
        <span th:text="${resume.email}"></span><br />
    <br />
    Education <br />
        <span th:text="${resume.educationMSMajor}"></span><br />
        <span th:text="${resume.educationMSSchool}"></span><br />
        <span th:text="${resume.educationBSMajor}"></span><br />
        <span th:text="${resume.educationBSSchool}"></span><br />
    <br />
    Experience <br />
        <span th:text="${resume.experienceMostRecentTitle}"></span><br />
        <span th:text="${resume.experienceMostRecentCompany}"></span><br />
        <span th:text="${resume.experienceMostRecentDuties}"></span><br />
     <br />
        <span th:text="${resume.experiencePreviousTitle}"></span><br />
        <span th:text="${resume.experiencePreviousCompany}"></span><br />
        <span th:text="${resume.experiencePreviousDuties}"></span><br />
    <br />
    Skills <br />
        <span th:text="${resume.skill_1}"></span><br />
        <span th:text="${resume.skill_2}"></span><br />

</tr>
 </table>
</body>
</html>