<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Resume</a><br />
<table>
<tr>
    <td th:each="resume : ${resumes}">
        <span th:text="${resume.name}"></span><br />
        <span th:text="${resume.email}"></span><br />


    Education <br />
     <td th:each="education : ${educations}">
        <span th:text="${education.major}"></span><br />
        <span th:text="${education.degree}"></span><br />
        <span th:text="${education.year}"></span><br />
        <span th:text="${education.school}"></span><br />
     </td>
     <br />

    Experience <br />
     <td th:each ="experience : ${experiences}">
        <span th:text="${experience.title}"></span><br />
        <span th:text="${experience.company}"></span><br />
        <span th:text="${experience.seviceYear}"></span><br />
        <span th:text="${experience.duties}"></span><br />
     </td>

    <br />
    Skills <br />
     <td th:each="skill : ${skills}">
        <span th:text="${skill.skill}"></span><br />
        <span th:text="${skill.rating}"></span><br />
     </td>
</td>
</tr>
</table>
</body>
</html>