<body>
<a href="/add">Add a Resume</a><br />
<table>
    <tr th:each="education: ${educations}">
        <span th:text="${resume.name}"></span><br />
        <span th:text="${resume.email}"></span><br />


        Education <br />
        <th:each="education : ${educations}">
        <span th:text="${education.major}"></span><br />
        <span th:text="${education.degree}"></span><br />
        <span th:text="${education.year}"></span><br />
        <span th:text="${education.school}"></span><br />

        <br />

        Experience <br />
        <th:each ="education : ${education}">
        <span th:text="${education.major}"></span><br />


        <span th:text="${resume.experienceMostRecentTitle}"></span><br />
        <span th:text="${resume.experienceMostRecentCompany}"></span><br />
        <span th:text="${resume.experienceMostRecentDuties}"></span><br />
        <br />
        <span th:text="${resume.experiencePreviousTitle}"></span><br />
        <span th:text="${resume.experiencePreviousCompany}"></span><br />
        <span th:text="${resume.experiencePreviousDuties}"></span><br />
        <br />
        Skills <br />
        <span th:text="${resume.skill_1}"></span><br />
        <span th:text="${resume.skill_2}"></span><br />

    </tr>
</table>
</body>
</html>