<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<span th:text="${resume.name}"></span><br />
<span th:text="${resume.email}"></span><br />
<br />
Education
<span th:text="${resume.educationBS}"></span>span><br />
<span th:text="${resume.educationMS}"></span>span><br />
<br />
Experience
<span th:text="${resume.experienceMostRecent}"></span><br />
<span th:text="${resume.experiencePrevious}"></span><br />
Skills
<span th:text="${resume.experienceMostRecent}"></span><br />
<span th:text="${resume.experiencePrevious}"></span><br />
</body>
</html>